body {
	margin:				0px;
	background-color:	#222222;
}

.body {
	width: 				100%;
	font-family: 		Helvetica;
	margin:				0px;
	font-size:			16pt;
	background-color:	#222222;
	color:				#EEEEEE;
}

.header {
	width:				100%;
	text-align:			center;
	font-size:			1.7em;
	padding:			5% 0px;
}

.menu-item {
	width:				100%;
	height:				40px;
	display:			block;
	font-size:			1.5em;
	padding:			10px 0px;
	background:			url(item_bg.png) repeat-x;
}
.menu-item span {
	margin:				0px 10px;
}

p {
	margin:				0px;
	padding:			10px;
}

.selected {
	background-color:	#78B2D1;
}

.view {
	height:				0px;
	overflow:			hidden;
	background:			url(view_bg.png) repeat-x;
	position:			relative;
	display:			none;
}

ul {
	list-style-type:	none;
}

.contacts {
	width:				100%;
}

.nitobi-logo {
	position:			absolute;
	bottom:				10px;
	right:				10px;
	height:				35px;
	width:				35px;
}

.preview {
	width:				250px;
	margin:				10px;
}

textarea, input {
	width:				90%;
}

.button {
	background:			url(button.png) no-repeat;
	width:				258px;
	height:				48px;
	text-align:			center;
	padding:			10px 0px;
	margin:				0px auto;
	font-size:			1.3em;
}

#spacer {
	height:				400px;
	width:				100%;
}

.button-small {
	background:			url(button_sm.png) no-repeat;
	position:			absolute;
	width:				100px;
	height:				38px;
	text-align:			center;
	padding:			8px 0px;
	font-size:			1.1em;
	left:				10px;
	bottom:				10px;
}
